<h2>Todos los Productos</h2>
<ul>
    {{#each products}}
        <div class="product">
            <h2>{{name}}</h2>
            <p>Precio: ${{price}}</p>
            <p>Disponibilidad: {{availability}}</p>

            <form action="/api/carts/{{cartId}}/products/{{_id}}" method="POST">
            <label for="quantity">Cantidad:</label>
            <input type="number" id="quantity" name="quantity" value="1" min="1">
            <button type="submit">Agregar al carrito</button>
            </form>
        </div>
    {{/each}}
</ul>

{{#if hasNextPage}}
    <a href="{{nextLink}}">Siguiente</a>
{{/if}}

{{#if hasPrevPage}}
    <a href="{{prevLink}}">Anterior</a>
{{/if}}

<script>
    function addToCart(productId) {
        
    }
</script>

